{% extends 'main/use/base_guest.html' %}
{% load static %}

{% block popup %}
	<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Регистрация</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<form>
						
						<div class="form-group">
							<label for="inputName">Имя</label>
							<input type="text" class="form-control" id="inputName"
							aria-describedby="nameHelp" placeholder="Имя" required>
							<small id="nameHelp" class="form-text text-muted">Введите ваше Имя</small>
						</div>
						
						<div class="form-group">
							<label for="inputSurname">Фамилия</label>
							<input type="text" class="form-control" id="inputSurname"
							aria-describedby="surnameHelp" placeholder="Фамилия" required>
							<small id="surnameHelp" class="form-text text-muted">Введите вашу Фамилию</small>
						</div>
						
						<div class="form-group">
							<label for="inputEmail">Электронная почта</label>
							<input type="email" class="form-control" id="inputEmail"
							aria-describedby="emailHelp" placeholder="Email" required>
							<small id="emailHelp" class="form-text text-muted">Введите вашу электронную почту</small>
						</div>
						
						<div class="form-group">
							<label for="inputDataBorn">Дата рождения</label>
							<input type="date" class="form-control" id="inputDataBorn"
							aria-describedby="dataBornHelp" placeholder="Дата рождения" required>
							<small id="dataBornHelp" class="form-text text-muted">Введите вашу дату рождения</small>
						</div>
						
						<div class="form-group">
							<label for="inputPass">Пароль</label>
							<input type="password" class="form-control" id="inputPass"
							placeholder="Password" minlength="10" required>
							<small id="passHelp" class="form-text text-muted">Пароль должен содержать 10 символов</small>
						</div>
						
						<div class="form-group">
							<label for="inputAcceptPass">Подтвердите пароль</label>
							<input type="password" class="form-control" id="inputAcceptPass"
							placeholder="Accept Password" minlength="10" required>
							<small id="passAcceptHelp" class="form-text text-muted">Повторите пароль</small>
						</div>

						<div class="modal-footer">
							
							<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#singInModal" data-dismiss="modal">Войти</button>
							<button type="submit" class="btn btn-secondary">Зарегистрироваться</button>
						</div>

					</form>
				</div>
			</div>
			
		  </div>
		</div>
	  </div>

	  <div class="modal fade" id="singInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
		  <div class="modal-content">
			<div class="modal-header">
			  <h5 class="modal-title" id="exampleModalLabel">Вход</h5>
			  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<form>
						
						<div class="form-group">
							<label for="inputEmail">Электронная почта</label>
							<input type="email" class="form-control" id="inputEmail"
							aria-describedby="emailHelp" placeholder="Email" required>
							<small id="emailHelp" class="form-text text-muted">Введите вашу электронную почту</small>
						</div>
						
						<div class="form-group">
							<label for="inputPass">Пароль</label>
							<input type="password" class="form-control" id="inputPass"
							placeholder="Password" required>
							<small id="passHelp" class="form-text text-muted">Введите пароль</small>
						</div>
						
						<div class="modal-footer">	
							<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#registrationModal" data-dismiss="modal">Регистрация</button>
							<button type="submit" class="btn btn-secondary">Войти</button>
						</div>

					</form>
				</div>
			</div>
			
		  </div>
		</div>
	  </div>
{% endblock %}





	
		

{% block content %}
	<section id="content" class="content">
		<div class="container">
			
			<div class="row">
				<div class="col-lg-12">
					<div class="bread__crumb">
						<div class="container">
							
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item active" aria-current="page"><a>Главная</a></li>
										</ol>
									</nav>
						
						</div>
					</div>
				</div>
			</div>
		<div class="content__main">
			
			<div class="row">
				<div class="col-lg-12">
					<div class="title">
						<p class="title__text">
							На этом сайте мы собрали самые полезные книги о 
							языке программирования Python, которые помогут 
							в изучении как начинающим, так и опытным программистам.<br>
							Здесь вы найдете материалы для создания приложений, 
							учебные пособия, а так же справочники,  которые помогут вам 
							ознакомиться с инструментарием, освоить базы данных и повысить
							свои профессиональные навыки.
						</p>
					</div>
				</div>
			</div>
			
			<div class="sections">	
			<div class="row">
				<div class="col-lg-12">
					<h2 class="name__sections">Разделы</h2>
				</div>
			</div>
			

		
			<div class="row">
				<div class="col-lg-4">
					<a class="section">
						<div class="section__block">
								
							<h3 class="section__block__name">Для начинающих</h3>
								
							<img src="{% static "main/img/svg/starter.svg" %}" alt="Начинающий" class="section__block__img">
		
						</div>
					</a>
				</div>
				<div class="col-lg-4">
					<a class="section">
						<div class="section__block">
								
							<h3 class="section__block__name">Для продвинутых</h3>
		
							<img src="{% static "main/img/svg/pro.svg" %}" alt="Продвинутый" class="section__block__img">
		
						</div>
					</a>
				</div>
				<div class="col-lg-4">
					<a class="section">
						<div class="section__block">
								
							<h3 class="section__block__name">Справочники</h3>
		
							<img src="{% static "main/img/svg/book.svg" %}" alt="Справочник" class="section__block__img">
		
						</div>
					</a>
				</div>
			</div>
			</div>


		</div>
					
					
		</div>
	</section>
{% endblock %}